<div class="d-flex flex-row-reverse">
    <mat-icon class="p-2" (click)="closeModal()">close</mat-icon>
</div>

<h3 *ngIf="isEdit">Uredi stadion</h3>
<h3 *ngIf="!isEdit">Dodaj stadion</h3>
<form #stadionForm="ngForm" (ngSubmit)="save()" novalidate="novalidate">
    <div class="row input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Naziv</span>
        </div>
        <input [(ngModel)]="stadion.naziv" class="form-control" name="naziv" id="naziv" type="text" placeholder="Naziv"></div>
    <div class="row input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Ime</span>
        </div>
        <input [(ngModel)]="stadion.kapacitet" class="form-control" name="kapacitet" id="kapacitet" type="number" min="1" placeholder="Kapacitet"></div>
    <div class="row input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Grad</span>
        </div>
        <angular2-multiselect class="form-control" name="gradovi" [settings]="settings" [data]="gradovi.dropdownList" [(ngModel)]="gradovi.selectedItems"></angular2-multiselect>
    </div>
    <div class="row input-group">
        <div class="col btn-group">
            <button type="reset" class="btn btn-outline-secondary mr-1" (click)="clear()">Očisti</button>
            <button type="submit" class="btn btn-secondary">Spremi</button>
        </div>
    </div>
</form>