form {
    padding-left: 20px;
}

h3,
span,
input,
button {
    font-weight: 300;
}

h3 {
    margin-bottom: 25px;
}

mat-icon {
    margin-top: -15px;
    color: #1a3469;
    &:hover {
        cursor: pointer;
    }
}

.multiselect-custom {
    padding: 0px;
}

.c-btn {
    line-height: 1.5 !important;
    font-weight: 300 !important;
    color: #6c757d !important;
    font-size: 1rem !important;
}

.multiselect-custom .c-angle-down {
    top: 15px;
}