.wrapper {
    display: flex;
    flex-direction: column;
}

.name-width {
    width: 50%;
}

mat-icon {
    padding-top: -15px;
    color: #1a3469;
    &:hover {
        cursor: pointer;
    }
}

.crveni-karton {
    color: red
}

.zuti-karton {
    color: #fcb52f
}