<div class="utakmica-list-header">

    <h1 *ngIf="(uloga == uloge.ADMINISTRATOR_UTAKMICA || (ligaFilter && !omiljene)) && !rezultati && !predstojece">Utakmice</h1>
    <h1 *ngIf="omiljene && !rezultati && !predstojece">Omiljene utakmice</h1>
    <h3 *ngIf="!ligaFilter && !rezultati && !predstojece">Utakmice</h3>
    <button *ngIf="uloga == uloge.ADMINISTRATOR_UTAKMICA" type="button" class="btn btn-secondary" (click)="edit()">Dodaj utakmicu</button>
</div>

<hr *ngIf="uloga == uloge.ADMINISTRATOR_UTAKMICA" />

<div class="buttons-liga btn-group" [ngClass]="{'buttons-liga-self': uloga == uloge.KORISNIK || uloga == uloge.GOST}" role="group" *ngIf="(uloga == uloge.KORISNIK || uloga == uloge.GOST) && ligaList.length > 0 && !omiljene && ligaFilter">
    <button type="button" class="btn btn-secondary col-3" (click)="filterLiga($event)">Sve lige</button>
    <button type="button" *ngFor="let liga of ligaList" class="btn btn-outline-secondary ml-2 col-3" (click)="filterLiga($event, liga.id)">{{liga.naziv}}</button>
</div>

<div class="buttons btn-group" [ngClass]="{'buttons-self': uloga == uloge.KORISNIK}" role="group" *ngIf="!omiljene && statusFilter">
    <button type="button" class="btn btn-secondary col-3" (click)="filter($event, 'SVE')">Svi statusi</button>
    <button type="button" class="btn btn-outline-secondary ml-2 col-3" (click)="filter($event,'ZAVRSENA')">Završene</button>
    <button type="button" class="btn btn-outline-secondary mr-2 ml-2 col-3" (click)="filter($event,'U TOKU')">U toku</button>
    <button type="button" class="btn btn-outline-secondary col-3" (click)="filter($event,'PREDSTOJECA')">Predstojeće</button>
</div>

<div [ngClass]="{
                                                                                                                                                                                            'utakmica-list': true}">
    <table class="table table-striped" *ngIf="utakmicaList.length">
        <tbody>
            <tr *ngFor="let utakmica of utakmicaList">
                <td class="align-middle" *ngIf="utakmica.isZavrsena && !rezultati" style="text-align:center; width: 90px;">Kraj</td>
                <td class="align-middle" *ngIf="utakmica.minutaIgre == -1 || rezultati" style="text-align:center; width: 90px;">{{utakmica.datumOdrzavanja | date:"dd/MM/yyyy hh:mm"}}</td>

                <td class="align-middle" *ngIf="!utakmica.isZavrsena && !utakmica.minutaIgre == -1 && !utakmica.isPoluvrijeme && utakmica.isProduzeci && !rezultati" style="text-align:center; width: 90px;">(Produžeci)</td>
                <td class="align-middle" *ngIf="!utakmica.isZavrsena && utakmica.minutaIgre != -1 && !utakmica.isProduzeci && !rezultati" style="text-align:center; width: 90px;">U toku</td>

                <td class="align-middle" style="text-align:right; width:150px">
                    {{utakmica.klubDomacinNaziv}}
                    <img style="width:20px;height:20px;" [src]="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    imageSrcBase + utakmica.klubDomacinSlika"
                        alt="grb" />
                </td>

                <td class="align-middle" *ngIf="utakmica.minutaIgre == -1" style="text-align:center; width: 45px;">/</td>
                <td class="align-middle" *ngIf="utakmica.minutaIgre == -1" style="text-align:center; width: 40px;">
                    <span>-</span>
                </td>
                <td class="align-middle" *ngIf="utakmica.minutaIgre == -1" style="text-align:center; width: 45px;">/</td>


                <td class="align-middle" *ngIf="utakmica.minutaIgre != -1" style="text-align:center; width: 45px;">{{utakmica.rezultatDomacin}}</td>
                <td class="align-middle" *ngIf="utakmica.minutaIgre != -1 && !utakmica.isZavrsena" style="text-align:center; width: 40px;">
                    <span *ngIf="!utakmica.isPoluvrijeme" style="font-size: 11px; color: red;">{{utakmica.minutaIgre}}'</span>
                    <span *ngIf="utakmica.isPoluvrijeme" style="font-size: 11px; color: red;">POLUVRIJEME</span>
                </td>
                <td class="align-middle" *ngIf="utakmica.minutaIgre != -1 && utakmica.isZavrsena" style="text-align:center; width: 40px;">
                    <span>-</span>
                </td>
                <td class="align-middle" *ngIf="utakmica.minutaIgre != -1" style="text-align:center; width: 45px;">{{utakmica.rezultatGost}}</td>

                <td class="align-middle" style="text-align:left; width:150px; font-weight: 300;">
                    <img style="width:20px;height:20px;" [src]="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    imageSrcBase + utakmica.klubGostSlika"
                        alt="grb" /> {{utakmica.klubGostNaziv}}
                </td>

                <td class="align-middle" *ngIf="uloga== uloge.ADMINISTRATOR_UTAKMICA" style="text-align:center; width:100px">
                    <mat-icon class="p-2" (click)="edit(utakmica.id)">edit</mat-icon>
                    <mat-icon class="p-2" (click)="delete(utakmica.id)">delete</mat-icon>
                </td>

                <td class="align-middle" *ngIf="uloga == uloge.KORISNIK && rezultati" style="text-align:center; width:47px; padding: 0;">
                    <mat-icon class="pobjeda" data-toggle="tooltip" title="Pobjeda" *ngIf="(utakmica.klubDomacinID == searchObject.KlubId && utakmica.rezultatDomacin > utakmica.rezultatGost) ||  (utakmica.klubGostID == searchObject.KlubId && utakmica.rezultatGost > utakmica.rezultatDomacin)">
                        stop</mat-icon>
                    <mat-icon class="poraz" data-toggle="tooltip" title="Poraz" *ngIf="(utakmica.klubDomacinID == searchObject.KlubId && utakmica.rezultatDomacin < utakmica.rezultatGost) ||  (utakmica.klubGostID == searchObject.KlubId &&  utakmica.rezultatGost < utakmica.rezultatDomacin)">
                        stop</mat-icon>
                    <mat-icon class="remi" data-toggle="tooltip" title="Neriješeno" *ngIf="utakmica.rezultatDomacin == utakmica.rezultatGost">
                        stop</mat-icon>
                </td>

                <td class="align-middle" *ngIf="uloga == uloge.KORISNIK" style="text-align:center; padding: 0;" [ngStyle]="{'width': rezultati? 47+ 'px' : 85+'px' }">
                    <mat-icon data-toggle="tooltip" title="Ukloni utakmicu iz omiljenih" *ngIf="omiljeneUtakmiceIds.includes(utakmica.id)" class="p-2" (click)="ukloniOmiljenu(utakmica.id)">favorite</mat-icon>
                    <mat-icon data-toggle="tooltip" title="Dodaj utakmicu u omiljene" *ngIf="!omiljeneUtakmiceIds.includes(utakmica.id)" class="p-2" (click)="dodajOmiljenu(utakmica.id)">favorite_border</mat-icon>
                </td>

            </tr>
        </tbody>
    </table>
    <div *ngIf="!utakmicaList.length" class="h5-container">
        <h5 *ngIf="!omiljene">Trenutno nema utakmica</h5>
        <h5 *ngIf="omiljene">Trenutno nema omiljenih utakmica</h5>
    </div>
</div>