.sezona-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
        margin-bottom: 0;
        padding-left: 10px;
        font-weight: 300;
    }
}

.sezona-list-element {
    margin: 5px;
}

.sezona-list {
    display: flex;
    flex-wrap: wrap;
}

hr {
    border-top: 2px solid #1a3469;
}

h3,
h5 {
    font-weight: 300;
}

.h5-container {
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}