:host {
    width: 64px;
    float: left;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

#sidenav {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 64px;
    transition: 1s;
    height: 100%;
    border-right: 2px solid #95a9d1;
    background-color: #f8d43c;
}

#sidenav:hover {
    width: 230px;
}

.mat-list-base {
    padding-top: 0 !important;
}

::ng-deep .mat-list-item-content {
    padding: 0 !important;
}