<div class="wrapper" [ngClass]="{'wider-wrapper': uloga == uloge.ADMINISTRATOR_KLUBOVA}" (click)="handleClick()">
    <h4 [ngClass]="{'center': uloga != uloge.ADMINISTRATOR_KLUBOVA}">{{sezona.datumPocetka| date: "yyyy"}}/{{sezona.datumZavrsetka| date: "yyyy"}}</h4>
    <div class="d-flex flex-row-reverse" [ngClass]="{
        'mat-icon-show': uloga == uloge.ADMINISTRATOR_KLUBOVA,
        'mat-icon-hide': uloga != uloge.ADMINISTRATOR_KLUBOVA }">
        <mat-icon class="p-2" (click)="edit()">edit</mat-icon>
        <mat-icon class="p-2" (click)="delete()">delete</mat-icon>
    </div>
</div>