.container {
    display: flex;
    width: 320px;
    height: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.wrapper {
    width: 320px;
    height: 250px;
    border: 2px solid #1a3469;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 15px 5px;
    box-shadow: 3px 3px #6c757d;
}

.klub-cover {
    margin: 10px 10px 10px 0;
    width: 150px;
    height: 200px;
    border: 2px solid #95a9d1;
    border-radius: 5px;
}

p,
h4 {
    font-weight: 300;
    margin-bottom: 1px;
}

mat-icon {
    margin-top: -15px;
    margin-right: 15px;
    color: #1a3469;
    &:hover {
        cursor: pointer;
    }
}