.top {
    display: flex;
    margin-right: 5px;
}

.top-info {
    width: 100%;
    margin-left: 50px;
    h1 {
        margin-bottom: 10px;
    }
    h4 {
        display: inline;
        margin-bottom: 10px;
    }
    h5:first-of-type {
        margin-top: 5px;
        padding-top: 10px;
        border-top: 1px solid #1a3469;
    }
    h5 {
        margin-top: 5px;
    }
}

img {
    width: 175px;
    height: 175px;
}

.klub-info {
    display: flex;
    width: 320px;
    height: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.klub-info {
    width: 320px;
    height: 250px;
    border: 2px solid #1a3469;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 15px 5px;
    box-shadow: 3px 3px #6c757d;
}

.trener-stadion {
    width: 100%;
    display: flex;
    align-content: space-between;
}

.bottom {
    margin-top: 10px;
    align-content: center;
    width: 99%;
}

p {
    margin-bottom: 0px;
    margin-left: 5px;
}

::ng-deep .remove-border-bottom.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: rgba(39, 184, 176, 0) !important;
}

::ng-deep .set-font.mat-tab-group.mat-primary .mat-tab-body-conetnt {
    td {
        font-weight: 300;
    }
}