<div class="top" *ngIf="klub">
    <img alt="Klub image" *ngIf="klub.slika" [src]="imageSrcBase + klub.slika" />
    <div class="top-info">
        <div>
            <h1>{{klub.naziv}}</h1>
        </div>
        <h4>{{klub.adresa}}
        </h4>
        <h4 style="color: #1a3469">&#9679;
        </h4>
        <h4>{{klub.mail}}</h4>
        <h5 *ngIf="klub.trenerImePrezime">Trener: {{klub.trenerImePrezime}}
        </h5>
        <h5 *ngIf="!klub.trenerImePrezime">Trener: /</h5>

        <h5 *ngIf="stadion">Stadion: {{stadion.naziv}} ({{stadion.grad.naziv}}) - {{stadion.kapacitet}}
        </h5>
    </div>
</div>
<div class="bottom">
    <mat-tab-group mat-stretch-tabs="mat-stretch-tabs">
        <mat-tab label="Rezultati">
            <mat-tab-group *ngIf="imaTrenutne" mat-stretch-tabs="mat-stretch-tabs" class="remove-border-bottom set-font">
                <mat-tab *ngIf="imaTrenutne" label="Trenutne">
                    <utakmica-list (nemaUtakmiceEmitter)="hideTrenutne()" [ligaFilter]="false" [statusFilter]="false" [predstojece]="true" [searchObject]="searchObjectTrenutne"></utakmica-list>
                </mat-tab>
            </mat-tab-group>
            <mat-tab-group mat-stretch-tabs="mat-stretch-tabs" class="remove-border-bottom">
                <mat-tab label="Posljednji rezultati">
                    <utakmica-list [ligaFilter]="false" [statusFilter]="false" [rezultati]="true" [searchObject]="searchObjectRezultati"></utakmica-list>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>
        <mat-tab label="Raspored">
            <utakmica-list [ligaFilter]="false" [statusFilter]="false" [predstojece]="true" [searchObject]="searchObjectRaspored"></utakmica-list>
        </mat-tab>
        <mat-tab label="Poredak">
            <klub-poredak *ngIf="klub" [klubId]="klub.id"></klub-poredak>
        </mat-tab>
        <mat-tab label="Momčad">
            <igrac-list [igraci]="igraci"></igrac-list>
        </mat-tab>

        <mat-tab label="Statistika">
            <mat-tab-group mat-stretch-tabs="mat-stretch-tabs" [selectedIndex]="selectedTab" (selectedIndexChange)="changeSelectedIndex($event)">
                <mat-tab label="Posljednje utakmice">
                    <statistika-sezona-klub-overview [statistike]="sezone" (prikaziGrafove)="prikaziGrafove($event)"></statistika-sezona-klub-overview>
                </mat-tab>

                <mat-tab label="Statistika" *ngIf="showCharts && klub">
                    <statistika-sezona-klub-charts [klub]="klub.naziv" [statistika]="chartStats" (hide)="hideGrafove()"></statistika-sezona-klub-charts>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>
    </mat-tab-group>

</div>