.franchise-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    padding-top: 20px;
    margin-bottom: 10px;
    color: #1a3469;
    background-color: white;
}