.centered {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 30%;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url('./../../../../assets/images/background3.jpg');
}

hr {
    border-top: 2px solid #1a3469;
}

.top {
    padding-left: 10px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
}

.klubovi {
    width: 100%;
    margin-right: 5px;
    border-radius: 5px;
    padding: 15px 0px 0px 0px;
    h3 {
        margin-left: 15px;
    }
}

:host ::ng-deep .mat-tab-body {
    max-height: 358px;
     ::-webkit-scrollbar {
        width: 0.5em;
        background: transparent;
    }
}

.poredak {
    width: 60%;
    margin-right: 10px;
    border: 2px solid #1a3469;
    border-radius: 5px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.bottom-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 2%;
}

.sezona-list-self {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sezona-list {
    width: 24%;
}

.utakmica-list {
    width: 71%;
    border-radius: 5px;
    padding: 0px;
    margin-left: 10px;
}