<div class="wrapper">
    <h1 *ngIf="liga">{{liga.naziv}}</h1>
    <div class="klubovi">
        <h3>Klubovi</h3>
        <klub-list [show]="show" [searchObject]="searchObjectKlubSezona" [scrollable]="true" class="klub-list"></klub-list>
    </div>

    <div class="bottom-container">
        <sezona-list [searchObject]="searchObjectKlubSezona" [show]="show" (clickEmitter)="handleClick($event)" class="sezona-list"></sezona-list>
        <utakmica-list [show]="false" *ngIf="utakmica" [searchObject]="searchObjectUtakmicaSezona" class="utakmica-list"></utakmica-list>
    </div>
</div>