.klub-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 2%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url('./../../../../assets/images/background3.jpg');
}

.klub-list {
    width: 55%;
}

.klub-search-form {
    width: 35%;
    border: 2px solid #1a3469;
    border-radius: 5px;
    padding: 15px 0px 15px 25px;
}