.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-icon {
    padding-top: -15px;
    color: #1a3469;
    &:hover {
        cursor: pointer;
    }
}

.crveni-karton {
    color: red
}

.zuti-karton {
    color: #fcb52f
}

.divcic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 400px;
    padding: 10px;
    border: 2px solid #1a3469;
    border-radius: 5px;
}