/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "~bootstrap/dist/css/bootstrap.css";
.ag-theme-alpine {
    border: 1px solid #95a9d1;
    border-radius: 5px;
    .ag-header-cell {
        color: #1a3469
    }
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-weight: 300;
}

menu {
    padding: 0;
    margin: 0;
}

.multiselect-custom {
    padding: 0px;
}

.c-btn,
.dropdown-list ul li {
    line-height: 1.5 !important;
    font-weight: 300 !important;
    color: #6c757d !important;
    font-size: 1rem !important;
    .c-angle-down,
    .c-angle-up {
        top: 30% !important;
    }
    .clear-all {
        top: 45% !important;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
button,
span,
input,
angular2-multiselect,
td,
select,
option {
    font-weight: 300 !important;
}

::-webkit-scrollbar {
    width: 0.75em;
    height: 0.75em;
    background: transparent;
}

 ::-webkit-scrollbar-thumb {
    background: rgba(#1a3469, 1);
}