<div class="d-flex flex-row-reverse">
    <mat-icon class="p-2" (click)="closeModal()">close</mat-icon>
</div>

<h3 *ngIf="isEdit">Uredi klub</h3>
<h3 *ngIf="!isEdit">Dodaj klub</h3>
<form #klubForm="ngForm" (ngSubmit)="save()" novalidate>
    <div class="row input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Naziv</span>
        </div>
        <input [(ngModel)]="klub.naziv" class="form-control" name="naziv" id="naziv" type="text" placeholder="Naziv">
    </div>

    <div class="row input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Mail</span>
        </div>
        <input [(ngModel)]="klub.mail" class="form-control" name="mail" id="mail" type="text" placeholder="Mail">
    </div>

    <div class="row input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Adresa</span>
        </div>
        <input [(ngModel)]="klub.adresa" class="form-control" name="adresa" id="adresa" type="text" placeholder="Adresa">
    </div>

    <div class="row input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Trener</span>
        </div>
        <angular2-multiselect class="form-control" name="treneri" [settings]="settingsTrener" [data]="treneri.dropdownList" [(ngModel)]="treneri.selectedItems" (onAddFilterNewItem)="onAddItemTrener($event)"></angular2-multiselect>
    </div>
    <div class="row input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Stadion</span>
        </div>
        <angular2-multiselect class="form-control" name="stadioni" [settings]="settingsStadion" [data]="stadioni.dropdownList" [(ngModel)]="stadioni.selectedItems" (onAddFilterNewItem)="onAddItemStadion($event)"></angular2-multiselect>
    </div>
    <div class="row input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Liga</span>
        </div>
        <angular2-multiselect class="form-control" name="lige" [settings]="settingsLiga" [data]="lige.dropdownList" [(ngModel)]="lige.selectedItems"></angular2-multiselect>
    </div>

    <div class="image" style="width: 50%">
        <label style="margin-top: 2%;">Slika: </label>
        <img *ngIf="imageSrc" [src]="imageSrc" alt="Image" />
        <div *ngIf="!imageSrc" style="margin-top: 2%;min-width:100px;min-height:100px;font-size: 200px;border: 2px solid #1a3469;">
        </div>
        <input (change)="onSelectFile($event)" style="margin-top: 2%;" #imageInput hidden="true" type='file' accept="image/*">
        <button class="btn btn-secondary btn-sm" (click)="imageInput.click()" style="margin-top:18%;" type="button">Choose Photo</button>
    </div>

    <div class="row input-group">
        <div class="col btn-group">
            <button type="reset" class="btn btn-outline-secondary mr-1" (click)="clear()">Očisti</button>
            <button type="submit" class="btn btn-secondary">Spremi</button>
        </div>
    </div>
</form>